/**
 * @name Blur Stuff for Privacy
 * @author pje.ovh
 * @version 1.0
 * @description Blurs other server icons to protect you from accidentally leaking where you're lurking
 */

/* Override in QuickCSS editor */
:root {
    --privacy-hidden-servers: [data-dnd-name="SERVER NAME"], [data-dnd-name="ANOTHER SERVER"];

    --privacy-blur-amount: 10px;
    --privacy-blur-saturate: 1.2;
    --privacy-blur-contrast: 1.4;
    --privacy-blur-opacity: 0.9;
    --privacy-blur-bg-color: #777;

    --privacy-duration-blur-enter: 60s;
    --privacy-duration-blur-leave: 0.2s;
    --privacy-delay-blur-leave: 0.05s;
    --privacy-duration-bg-enter: 10s;
}

.stack_dbd263[aria-label='Servers'] .listItem__650eb:not(:has(.selected_e5445c)) .icon__6e9f8 {
    filter: blur(var(--privacy-blur-amount)) saturate(var(--privacy-blur-saturate)) contrast(var(--privacy-blur-contrast)) opacity(var(--privacy-blur-opacity));
    transition: filter var(--privacy-duration-blur-enter) ease-out;
}

.stack_dbd263[aria-label='Servers'] .listItem__650eb:not(:has(.selected_e5445c)) .wrapper__6e9f8:not(:hover, :has(.acronym__6e9f8)) {
    --cmargin: 8px;
    margin: var(--cmargin);
    width: auto;
    height: auto;
    background-color: var(--privacy-blur-bg-color);
    border-radius: 4px;
    transition: background-color var(--privacy-duration-bg-enter) ease-out;
    img {
        margin: calc(var(--cmargin) * -1);
    }
}

.stack_dbd263[aria-label='Servers'] .listItem__650eb:not(:has(.selected_e5445c)) .wrapper__6e9f8:not(:has(.acronym__6e9f8)):hover {
    background-color: transparent;
    transition: background-color 0s ease-in-out;
}

.stack_dbd263[aria-label='Servers'] .listItem__650eb:not(:has(var(--privacy-hidden-servers))) .wrapper__6e9f8:hover .icon__6e9f8 {
    filter: blur(0px);
    transition: filter var(--privacy-duration-blur-leave) var(--privacy-delay-blur-leave) ease-in-out;
}
